*,
*::after
*::before {
    box-sizing: border-box;
}

a {
    color: #0059b2;
    text-decoration: none;
}

h1{
        font-weight: 600;
        font-size: 40px;
        margin-top: 25px;
    margin-bottom: 25px;
}

.page {

    height: 100%;
}


.page__body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(210, 210, 210, 0.5);
    height: 100%;
    margin: 0;

    font-family: "Hind", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.container {
   
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}



/* HEADER */

.page-header {   
    padding-top: 30px;
    padding-bottom: 5px;
    

}

.page-header__container {
   display: flex; 
   max-width: 1200px;   
   justify-content: space-between;
   align-items: center;
   border-bottom: 3px solid rgba(210, 210, 210, 1);
}

.page-header__logo {
    text-align: center;
}

.main-menu {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    
/*    flex-wrap: wrap;*/
/*    column-gap: 20px;*/

    font-weight: 400;
    font-size: 30px;
}


.main-menu__item{

    /*padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
*/
}
.main-menu__link{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px; 

}

.main-menu__link:hover {
    background-clip: padding-box;
    background-color: rgba(210, 210, 210, 1); 
      
    border-radius: 6px;

}



/*MAIN*/
.container__paragraph{
    font-size: 22px;
    font-weight: 300;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/*    align-content: fl;*/
/*    flex-direction: column;*/
    
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}



.content-list__item {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    flex-basis: 1;
    flex-grow: 1;
    -webkit-box-shadow: 3px 8px 20px -10px rgba(34, 133, 210, 0.5);
    -moz-box-shadow: 3px 8px 20px -10px rgba(34, 133, 210, 0.5);
    box-shadow: 3px 8px 20px -10px rgba(34, 133, 210, 0.5);
    
    background-color: white;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.content-list__link {
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page__footer {
    margin-top: auto;
    background-color: rgba(210, 210, 210, 1);
    padding-bottom: 20px;
    padding-top: 40px;
    
}

.footer-container {
    /*display: flex;
    justify-content: space-between;*/
/*    align-items: center;*/
}

.footer-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;    
    font-weight: 300;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.footer-list__item{
    display: flex;
    justify-content: center;
    
    flex-basis: 50%;

}


@media screen and (max-width: 950px) {
    .page-header{
        padding-top: 10px;
    padding-bottom: 10px;

    }
    .main-menu  {
        flex-direction: column;
        justify-content: center;
        text-align: center;
}
    .page-header__container {
        flex-direction: column;
        font-weight: 600;
        font-size: 22px;
    }

    .page-header__nav{
        flex-basis: auto;
        flex-grow: 1;
        width: 100%;



    }

    .main-menu__item{
        flex-basis: auto;
        flex-grow: 1;
        width: 100%;
    }

    .main-menu__item:hover {

    flex-direction: column;
    background-clip: padding-box;
    background-color: rgba(210, 210, 210, 1); 
      
    border-radius: 6px;
}
    

    .main-menu__link{
        font-weight: 300;
        font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    height: auto;
    }

    .content-list__item{
        flex-basis: auto;
/*        flex-grow: 1;*/
        min-width: 100%;
        margin-bottom: 10px;
    }
    h1{
        font-weight: 600;
        font-size: 28px;
        margin-top: 0px;
    margin-bottom: 10px;

    }

    
}

