<!DOCTYPE html>
<html lang="en" class="page">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="page__body">
<header class="page__header page-header">
    <div class="container page-header__container">
        <a class="page-header__logo logo" href="{{ url_for('main_page') }}">
            Обучение <br>АСУ СТ НП
        </a>
        <nav class="page-header__nav">
            <ul class="page-header__menu main-menu">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="{{ url_for('main_page') }}">Главная</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="{{ url_for('video_page') }}">Видео</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="{{ url_for('mimo_page') }}">Памятки</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="{{ url_for('manual_page') }}">Инструкции</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="page__main page-main">
    {% block main %}

    {% endblock %}
</main>
<footer class="page__footer page-footer">
    <div class="container footer-container">
        <ul class="footer-container__list footer-list">
            <li class="footer-list__item">
                <address>
                    Связь с разработчиком:<br>
                
                    email: <a class="footer-list__link" href="mailto:mixalych06@mail.ru">mixalych06@mail.ru
                    </a><br>
                    telegram: <a class="footer-list__link" target="_blank" href="https://t.me/mixalych0">https://t.me/mixalych0
                    </a>
                </address>                    
            </li>
            <li class="footer-list__item">
                <a class="footer-list__link" href="#">
                    2024 год
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>