{% extends 'base.html' %}

{% block title %}
{{ docs_title }}
{% endblock %}

{% block main %}

<section class="page-main__title">
        <div class="container">
            <h1 class="page-main__title">{{ docs_title }}</h1>
        </div>
    </section>
    <section class="page-main__content main-content">
        <div class="container">
            <ul class="main-content__list content-list content-list-doc">
            {% for item in contents %}  
                <li class="content-list__item">
                    <a class="content-list__link" target="_blank" href="{{ item }}">
                    {{  item.split('/')[-1] }}
                    </a>
                </li> 
            {% endfor %}
            </ul>
        </div>
    </section>


{% endblock %}

    