<!DOCTYPE html>
<html lang="en" class="page">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body class="page__body">
<header class="page__header page-header">
    <div class="container page-header__container">
        <a class="page-header__logo logo" href="#">            
            Обучение <br>АСУ СТ НП
        </a>
        <nav class="page-header__nav">
            <ul class="page-header__menu main-menu">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Видео</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Памятки</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Инструкции</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Разрабтчик</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="page__main page-main">
    
    <section class="page-main__title">
        <div class="container">
            <h1 class="page-main__title">Заголовок главный</h1>
        </div>
    </section>
    <section class="page-main__content main-content">
        <div class="container">
            <ul class="main-content__list content-list">
                <li class="content-list__item">
                    <a class="content-list__link" href="#">
                    Просмотр ошибки в консоле (5).docx
                    </a>
                </li>
                <li class="content-list__item">
                    <a class="content-list__link" href="#">
                    Заголовок главный<br>bccfcfbcfbcf
                    </a>
                </li>

            </ul>
        </div>
    </section>

</main>
<footer class="page__footer page-footer">
    <div class="container footer-container">
        <ul class="footer-container__list footer-list">
            <li class="footer-list__item">
                <a class="footer-list__link" href="#">
                    Просмотр ошибки в консоле (5).docx
                </a>
            </li>
            <li class="footer-list__item">
                <a class="footer-list__link" href="#">
                    Заголовок главный<br>bccfcfbcfbcf
                </a>
            </li>
        </ul> 
    </div>
</footer>


</body>
</html>
